.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainLayout {
    flex: 1;
    display: flex;
    overflow: hidden;
}

/* SIDEBAR */
.sidebar {
    border-right: 1px solid var(--plate-white);
    background: var(--plate-white);
    width: 280px;
    transition: transform 0.3s ease;
}

.sidebarClosed {
    transform: translateX(-100%);
}

/* CHAT AREA */
.chatArea {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.chatHeader {
    padding: 12px 16px;
    border-bottom: 1px solid var(--plate-white);
    background: var(--white);
    display: flex;
    align-items: center;
}

/* TOGGLE BUTTON */
.toggleBtn {
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

/* MESSAGE */
.messageList {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.inputArea {
  padding: 12px;
  border-top: 1px solid #eee;
}

/* BUBBLE */
.messageRow {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    align-items: flex-end;
}

.messageRowRight {
    flex-direction: row-reverse;
}

.messageContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 70%;
}

.messageRowRight .messageContent {
    align-items: flex-end;
}

.bubble {
    padding: 10px 14px;
    border-radius: 16px;
    font-size: var(--fs-sm);
    width: fit-content;
}

.bubbleLeft {
    background: var(--plate-white);
    border-bottom-left-radius: 4px;
}

.bubbleRight {
    background: var(--blueberry-skin);
    color: white;
    border-bottom-right-radius: 4px;
}

.messageTime {
    font-size: var(--fs-xs);
    color: var(--blueberry-skin);
    margin: 0 4px;
    text-align: left;
}

/* INPUT */
.inputArea {
    padding: 12px;
    border-top: 1px solid #eee;
    background: white;
}

.emptySidebar,
.emptyChat {
    padding: 16px;
    text-align: center;
    color: #64748b;
    font-size: 14px;
}